#navBar {
  display: inline;
  margin: 0;
  padding: 3px;
  background-color: #add8e6;
  border-style: solid;
  border-width: 3px;
  border-color: #ffa500;
  border-radius: 3px;
}

body {
    font-family: Calibri;
    color: #bbbb99;
    background-color: #333333;
}
