/*Global*/
body {
font-family: Calibri;
color: #ddd;
margin: 0px;}
p {
font-size: 20px;
margin: 12px;}
.content {
background-color: #222;
margin-left: 15%;
overflow: auto;
padding: 0px;}
.center {
display: block;
margin-left: auto;
margin-right: auto;}
.centerText {text-align: center;}
.banner {
background-color: #1b5f94;
padding: 10px 0px 10px 20px;}
h2 {margin-left: 10px;}
h3 {margin-left: 10px;}
h1 {padding-left: 10px;}

/*Python Projects*/
.projectImage {
border-radius: 50%;
width: 100%;}
.projectImageText {
display: none;
position: absolute;
font-size: 32px;
top: 50%; left: 50%;
transform: translate(-50%, -50%);
background-color: #000000aa;
border-radius: 5px;
padding: 3px 8px 3px 8px;}
.projectImageContainer {
cursor: pointer;
position: relative;
text-align: center;
color: white;
width: 24%;
float: left;
margin: 3px;}
#pythonProjectsContainer {
overflow: auto}

/*Python Project Descriptions*/
.pythonProjectDescription {
display: none;
z-index: 1;
position: fixed;
width: 60%; top: 50%; left: 20%;
transform: translate(0%, -50%);
padding: 0px 0px 0px 0px;
background-color: #000000dd;

border-style: solid;
border-width: 5px;
border-color: #000000;
border-radius: 10px;}
.pythonProjectDescriptionHeading {
text-align: center;
background-color: #437397;
padding: 10px 0px 10px 0px;
margin: 0px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.pythonProjectDescriptionImage {
border-style: solid;
border-color: white;
margin: 15px;
max-width: 40%;
float: right;}

/*Volunteering*/
.volunteerImage {
float:right;
width:220px;
padding:5px;
margin-right:15px}
h2 a:link {color: orange;}
h2 a:visited {color: orange;}

/*Menu*/
#nav {
list-style-type: none;
padding: 0px;
margin: 0px;}
#nav li a {
display: block;
padding: 8px 0px;
margin-left: 0px;
text-decoration: none;
text-align: center}
#nav li a:visited {
color: #ddd;}
#nav li a:link {
color: #ddd}
#nav li a:hover {
background-color: #333;}

#menuSide {
    position: fixed;
    background-color:#151515;
    width: 15%;
    height: 100%;
    margin: 0px;
    padding: 0px;}
#menuTop {
    position: fixed;
    background-color:#151515;
    width: 100%;
    margin: 0px;
    padding: 0px;}
